.SolarSystem {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: scroll;
  ul {
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    padding: 0 1rem;
    li {
      text-decoration: none;
      list-style: none;
      width: 250px;
      margin-bottom: 3rem;
      font-size: 2rem;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: rgb(158, 158, 158);
  border-radius: 10px;
}